 @font-face {
     font-family: head;
     src: url(./Heading-Now-Variable.ttf);
 }

 * {
     margin: 0;
     padding: 0;
 }

 /* #main {
     width: 100vw;
     height: 100vh;
 } */

 #page1 {
     width: 100%;
     height: 100vh;
     background-color: black;
 }

 #page1 h1 {
     font-size: 35vw;
     color: #fff;
     font-family: head;
     font-weight: 999;
     white-space: nowrap;
     font-stretch: 250%;
     text-transform: uppercase;
     padding: 0px 30px ;

 }
 
 #page2 {
    height: 100vh;
    width: 100%;
    background-color: black;
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: black;
}
